<h2>Here you can see everyone who has signed up </h2>
<p>You could even send them an email saying 'Hi'!</p>
<% @users.each do |user| %>
	<ul>
		<li><%= user.name %><br>
		<%= user.Gender %><br>
		<%= user.Email %><br>
		<p>About <%= user.name %> : <%= user.About %><br>
		</li>

	</ul>
<% end %>
<%= link_to 'Back', users_path %>

