
<div style ="padding-left:150px;padding-top:50px;"><p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p style="float:right;padding-right:150px;">
  <%= image_tag (@user.image), size: '400x500' %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %> 
  <p></p> <br>
</p>

<p>
  <strong>About:</strong>
  <%= @user.about %>
  <p></p> <br>
</p>



<%= link_to 'Edit your details', edit_user_path(@user) %>
<p></p> <br>
<p style="font-size:20px;">Click <%= link_to 'here', view_dash_path %> to visit everyone else!</p>
</div>