<p id="notice"><%= notice %></p>
<h2> Here are your details</h2>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.Email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.Gender %>
</p>

<p>
  <strong>About:</strong>
  <%= @user.About %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @user.image_url %>
</p>

<p>If you would like to change some details,click <%= link_to 'here', edit_user_path(@user) %></p>
<p>Click Click <%= link_to 'here', view_dashboard_path %> to visit everyone else.</p>



