<h4>Here is everyone who has signed up: </h4>
<div class="container">

<div class="row">
<div class="col-md-9">
<div class="row">
<% @user.each do |user| %>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <%= image_tag user.image%>
            <div class="caption">
            
                <h4><a href="#"><%= user.name %></a>
                </h4>
                <p><%= user.about %></p>
            </div>
            <div class="ratings">
                <% if user.email?  %><p class="pull">Contact Me @: <%= user.email %></p><% end %>
            </div>
        </div>
    </div>
<% end %>
</div>
</div>
</div>
</div>
<%= link_to 'Back', @pser %>