<!DOCTYPE html>
<html>
<head>
  <title>BfSw2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% if notice %>
    <p id="notice" style="font-color:green;font-align:center;font-size:20px;"> <%= notice %></p>
    <% end %>
    <% if alert %>
    <p id="alert" style="font-color:red;font-align:center;font-size:20px;"> <%= alert %></p>
    <% end %>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <% if session[:user_id] %>
	<%= link_to 'HOME', view_dash_path %>
	<% else %>
	<%= link_to 'HOME', view_dashboard_path %>
	<% end %>
                    </li>
                    <li>
                    <% if session[:user_id] %>
	<%= link_to 'LOGOUT', logout_path, method: :delete %>
	<% else %>
	<%= link_to 'LOGIN', login_path %>
	<% end %>
                    </li>
                    <li>
                        
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<%= yield %>

</body>
</html>
